body {margin: 0px; padding: 0px;font-family: roboto,sans-serif;transition: 0.3s ease;}

body {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;

}

* {
  -webkit-overflow-scrolling: touch;
 
}

.ios-container {background-color: green;overflow-x: scroll;}

a {text-decoration: none;}

nav {position: fixed; top: 0px; left: 0px; background-color: white; width: 100%;; height: 55px;z-index: 50;;;}

.logo-container > img {width: 66px;}

.logo-container {margin: auto; width: 66px;margin-top: 6px;}

.search-btn {position: fixed; right: 20px; top: 17px;color: black;}

.spacer {width: 100%; height: 100px;position: fixed;top: 0px;left: 0px;z-index: 10;;}

.inline-spacer {width: 100%; height: 110px;}

.btn {float: left;margin-left: 10px;}

.card-divider {width: 100%; height: 1px; background-color: lightgray;display: none;}

/*------------------------------------------------Bottom-Navigation--------------------------------------------*/

.bottom-navigation {position: fixed; bottom: 0px; left: 0px;background-color: white;width: 100%; height: 56px;box-shadow: 0px -5px 5px -1px rgba(0,0,0,0.07);;z-index: 150;}

.nav-button {background-color: white;border: none;margin-left: 0px;padding: 0px;filter: saturate(0)}

.nav-button:hover {filter: saturate(1)}

.nav-button:focus {outline: none;}

.nav-container {margin: auto; width: 345px;}

/*-------------------------------------------------Sections---------------------------------------------*/

#homescreen {display: none;}
#homescreen:target {display: block;}

#search {display: none;}
#search:target {display: block;}

#meal-menu{display: none; }
#meal-menu:target {display: block}

#shop {display: none;}
#shop:target {display: block;}

#media {display: none;}
#media:target {display: block}

#athletics {display: none}
#athletics:target {display: block;}

#calendar {display: none}
#calendar:target {display: block;}

#podcast {display: none}
#podcast:target {display: block;}

.pdf-embed {position: fixed;left: 0px;top: 100px; width: 100%; height: 100vh;border: none;}

/*------------------------------------------------Tab Navigation-----------------------------------------*/

.tab-navigation {background-color: white;position: fixed; width: 100%;z-index: 51;padding-bottom: 0px; margin-bottom: 0px;}

.tab-button {border: none; background-color: transparent;width: 90px;}

.tab-button:focus {background-color: transparent;}

.XL {width: 150px;}

.hide-tab-scrollbar {border-bottom:solid; border-bottom-color: lightgray; border-bottom-width: 1px;}

/*---------------------------------------------Navigation Card-------------------------------------------*/

.navigation-card {margin: auto; width: 100%;transform: rotateZ(180deg);border-bottom:solid;border-bottom-width: 1px; border-bottom-color: lightgray;padding-bottom: 10px;}

.navigation-card > h5 {font-size: 15px;}

.navigation-card > h6 {font-size: 14px;margin-top: 0px;font-size: 13px;}

.navigation-card > p {margin-top: 10px;}

.navigation-card-container {transform: rotateZ(180deg);}

.navigation-image > a{ pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;}

  .navigation-image > a > img {width: 100%;height: 200px; object-fit: cover;margin-top: -200px;border-radius: 10px;position: relative; z-index: 50;}

.load-button{width: 100%; height: 200px;border-radius: 10px;border: none;background-image: url(images/Placeholderimage.png);float: left;margin-top: 10px;font-size: 15px;border: solid;border-width: 1px;border-color: lightgray; }

.button-container {margin: auto; width: 150px;}

.card-img {width: 100%;margin-top: 10px;border-radius: 5px;height: 200px; object-fit: cover}

.popup-container {position: fixed; top: 0px;left: 0px; width: 100%; z-index: 150;height: 100%;;}

.popup-wrapper {margin: auto; width: 340px;margin-top: 10vh}

.iframe-popup {height: 540px;width: 100%;border-radius: 15px;background-color: white;}

/*---------------------------------------------------Filter----------------------------------------------*/
.filter > button {border: solid; border-width: 1px; border-color: lightgray; background-color: white; border-radius: 5px;margin-top: 10px;margin-left: 10px;}

.filter > button:focus {background-color: #012395;; color: white;border: none;}

.filter {overflow-x: scroll; white-space: nowrap;height: 80px;border-bottom:solid; border-bottom-color:lightgray;border-bottom-width: 1px; }

.filter::-webkit-scrollbar {
  width: 0px;}

.filterDiv {
   
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  


/*----------------------------------------------Dark Mode-------------------------------------------------------*/
.settings-option {;}

body.darkclass {
  background-color: black;
  
}
